@import 'stylesheets/colors.css';

.profile, .backgroundLine {
    background: var(--blue);
}

.aboutUse, .teamSection {
    width: 100%;
}
.aboutUs {
    height: 100%;
    overflow: auto;
    background: var(--primary-color);
    color: var(--blue);
}
.aboutUsSection, .aboutUsContainer {
    margin: 0 auto;
}
.aboutUsSection {
    height: 100vh;
    display: flex;
    align-items: center;
}
.aboutUsContainer, .teamTitleContainer {
    width: 900px;
}
.title {
    font-size: 3em;
    border-bottom: 5px solid var(--blue);
    display: table;
    padding-right: 20px;
}
.title, .paragraph {
    margin-bottom: 20px !important;
}
.paragraph {
    word-spacing: 3px;
}
.aboutUsLink {
    color: var(--blue);
    position: absolute;
    bottom: 10px;
    left: 45%;
}
.aboutUsLink:hover {
    text-decoration: underline;
}
/* ----------------------------------------------------------- PROFILE -----------------------------------------------------------*/
.profileWrapper, .profile { 
    position: relative;
}
.teamSection, .profile {
    padding: 30px;
}
.profileWrapper {
    /* background: var(--blue); */
}
.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    border-radius: 50px;
    z-index: 2;
}
.profileImage {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 50%;
}
.profileDescription * {
    text-align: center;
    color: var(--lighter-gray);
}
.profileDescription p:first-child {
    font-size: 2em;
}
.profileDescription p:last-child, .aboutUsLink {
    font-size: 1.2em;
    font-weight: 500;
}
.line {
    stroke-width: 15px;
    stroke: var(--blue);
}
.svg {
    margin-bottom: -10px;
}
.dividerWrapper {
    display: flex;
    height: 100px;
    gap: 20px;
}
.dividerWrapper > div:nth-child(1) {
    border-radius: 0 50px 50px 0;
}
.dividerWrapper > div:nth-child(2) {
    border-radius: 50px 0px 0px 50px;
}
.divider {
    background: var(--primary-color);
    height: 100%;
    z-index: 2;
}
.backgroundLine {
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
}