.container {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px 20px;
}
.container::-webkit-scrollbar {
    background: none;
    width: 10px;
}
.container::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 10px;
}

.terms {
    text-align: justify;
    padding-bottom: 10px;
}
.terms span {
    font-weight: bold;
}
.terms > ol > li:before {
    /* font-size: 1.2em; */
    font-weight: bold;
}
.terms ol {
    counter-reset: item;
    padding: 0;
}
.terms > ol > li {
    margin-bottom: 20px;
}
.terms ol ol {
    padding-left: 2rem;
}
.terms li, .terms > p {
    display: block;
    margin-top: 10px;
    /* color: #666666; */
}
.terms li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

.terms ol > li > ol > li > ol > li:before {
}


.terms h2, .terms p {
    display: inline-block;
}

.block {
    border: 1px solid red;
}
.indentedOrderedList > li {
    margin-left: 50px;
}
.heading2 {
    width: 100%;
    text-align: center;
}
.link {
    color: var(--blue);
}
.link:hover {
    text-decoration: underline;
}
.paragraph {
    display: block !important;
    margin-top: 5px;
}