@import 'stylesheets/colors.css';

.alerts {
    z-index: 10;
    padding: 10px;
    border: 1px solid black;
    color: white;
    position: absolute;
    top: 10px;
    left: 50%;
    width: -moz-fit-content;
    width: webkit-fit-content;
    width: fit-content;
    animation-name: slidein;
    animation-duration: 0.3s;

}
.successAlert, .badWordsAlert {
    composes: alerts;
}
.successAlert {
    background: green;
}
.badWordsAlert {
    background: var(--danger);
    left: 38%;
}

@keyframes slidein {
    from {
        top: -100px;
    }
  
    to {
        top: 10px;
    }
}