@import 'stylesheets/colors.css';

.forgotPassword, .pinModalContainer {
    height: 100vh;
    width: 100vw;
}
.bgImage, .pinModalContainer {
    position: absolute;
}
.forgotPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
.bgImage {
    width: 100%;
    height: 100%;
    background-image: url("/img/logo2.png");
    background-repeat: no-repeat;
    background-position:top;
    background-size: 80%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.form, .modalContent {
    border: 2px solid var(--gray);
    border-radius: 10px;
    background: white;
}
.form {
    padding: 10px;
    width: 600px;
    box-shadow: 0 0 50px 10px var(--blue);
    z-index: 1;
}
.pinModalContainer {
    background: rgba(0, 0, 0, 0.274);
    top: 0;
    z-index: 10;
}
.modalContent {
    width: 500px;
    margin: 20% auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 0 30px 0 var(--dark-gray);
    overflow: hidden;
}